<h1>My shopping Cart</h1>
<% var total=0; %>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% cart.forEach(function(item) { %>
      <% total += Number(item.price) %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td>
          <a href="/products/cart/remove/<%= item._id %>" class="btn btn-danger">Remove Item</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td><%= total %></td>
    </tr>
  </tfoot>
</table>
