<!DOCTYPE html>
<html lang="en">
  <head>
   
<div id="sarmad" style="position:absolute ; left:-0px" >

    <nav
      class="navbar navbar-expand-lg"
      style="background-color: #0d1635;width:1350px;"
    >
      <div class="container-fluid">
        
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
           
          
        </div>
      </div>
    </nav>
    <div  style="height: 800px;width:1350px;left:-260px ;background-color: #0d1635;">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: white" href="https://www.t20worldcup.com/standings">Standings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="https://www.t20worldcup.com/warm-up-matches">Warm-Ups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="https://www.t20worldcup.com/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="https://www.t20worldcup.com/video/all-videos">Videos</a>
        </li>
      </ul>
      <div style="position:absolute; left:30px">
      <h1 style="color:white">Personalise your homepage</h1>
      <p style="color:white"> News, fixtures and updates tailored to your <span class=>favourite team</span> </p>
      

      
      </div>
      <p style=" text-align:end;left: 890px ;color:white"># Womens WORLD CUP BEGINS IN</p>
      <h1 style="text-align:end;color:white">2 Months</h1>
      <div style="position:absolute;left: 30px;">
        <a href="/register" class="nav-link" type="submit" class="btn"  style="background-color: rgb(218, 37, 67); color:white;width: 250px;"  >Create an ICC Account :</button>
        </a>
        </div>
        <div >
  <br>
  <br>
  
        <img src="Capture1.png" class="img-fluid" width="1000px" height="600px" >
        <div style="position:absolute;left:1010px;top: 200px;">
        <img src="pics.PNG"  height="600px" width="330px" >
      </div>
      </div>
     
      </div>

      <div style="height:300px">
        <h5 style="text-align:center ; color:#0d1635">PARTNERS</h5>
        <br>
        
        <img style="position:absolute;right:960px ;" src="3.PNG" >
        <img style="position:absolute;right:780px ;" src="4.PNG" >
        <img style="position:absolute;right:600px ;" src="5.PNG" >
        <img style="position:absolute;right:420px ;" src="6.PNG" >
        <img style="position:absolute;right:240px ;" src="7.PNG" >
        <img style="position:absolute;right:80px ;" src=" 8.PNG" >
        <br>
        <br>
        <br>
        <br>
        <h5 style="text-align:center ; color:#0d1635">BROADCAST PARTNER  &nbsp;&nbsp;&nbsp; SOCIAL RESPONSABILITY</h5>
        <br>
        <img style="position:absolute;right:720px ;" src="1.PNG"  >
        <img style="position:absolute;right:480px ;" src="2.PNG" >
       
      </div>

      <div style="height:500px;background-color: #0d1635">
        <br>
        <br>
        <h5 style="text-align:center;color:white"> FOLLOW US ON SOCIAL</h5>
        <br>
        <img style="position:absolute;right:590px;width:70px  ;" src="fb.PNG" >
        <img style="position:absolute;right:690px;width:70px  ;" src="insta.jpg" >
        
        <h5 style="position: absolute;left:50px ; top: 1390px;  color:white ;"> T20WC</h5>
        <h7 style="position: absolute;left:50px ; top: 1440px; color:white ;"> HOMEPAGE</h7>
        <h5 style="position: absolute;left:250px ; top: 1390px;  color:white ;"> MATCHES</h5>
        <h7 style="position: absolute;left:260px ; top: 1440px; color:white ;"> FIXTURES</h7>
        <h7 style="position: absolute;left:260px ; top: 1480px; color:white ;"> Warm-Ups</h7>
        <h5 style="position: absolute;left:450px ; top: 1390px;  color:white ;"> TOURNAMENT</h5>
        <h7 style="position: absolute;left:450px ; top: 1440px; color:white ;"> STANDINGS</h7>
        <h7 style="position: absolute;left:450px ; top: 1480px; color:white ;"> TEAMS</h7>
        <h7 style="position: absolute;left:450px ; top: 1520px; color:white ;"> VENUES</h7>
        <h5 style="position: absolute;left:650px ; top: 1390px;  color:white ;"> NEWS & VIDEOS</h5>
        <h7 style="position: absolute;left:650px ; top: 1440px; color:white ;"> ALL VIDEO</h7>
        <h7 style="position: absolute;left:650px ; top: 1480px; color:white ;"> ALL NEWS</h7>
        <h7 style="position: absolute;left:650px ; top: 1520px; color:white ;"> ALL PHOTOS</h7>
        <h5 style="position: absolute;left:890px ; top: 1390px;  color:white ;"> ICC</h5>
        <h7 style="position: absolute;left:890px ; top: 1440px; color:white ;"> ICC HOMEPAGE</h7>
        <h7 style="position: absolute;left:890px ; top: 1480px; color:white ;"> ABOUT ICC</h7>
        <h5 style="position: absolute;left:1100px ; top: 1390px;  color:white ;"> MORE</h5>
        <h7 style="position: absolute;left:1100px ; top: 1440px; color:white ;"> TICKETS</h7>
        <h7 style="position: absolute;left:1100px ; top: 1480px; color:white ;"> SHOPS</h7>
        <h7 style="position: absolute;left:1100px ; top: 1520px; color:white ;"> CRICTOS</h7>
      </div>
      <div style="color:white;height:100px">
        

        <h6 style="color:#0d1635 ; position: absolute;left:250px ; top: 1680px;">Legal Notice</h6>
        <h6 style="color:#0d1635 ; position: absolute;left:450px ; top: 1680px;">Privacy Policy</h6>
        <h6 style="color:#0d1635 ; position: absolute;left:650px ; top: 1680px;"> @2023 INTERNATIONAL CRICKET COUNCIL FZ LLC</h6>

      </div>
    
    </div>

  </body>
</html>